{% extends "base.html" %}
{% block title %}Pokedex{% endblock title %}
{% block content %}
            <p>Has elegido el Pokémon: <strong>{{ pokemon | capfirst }}</strong></p>
            <p>{{ pokemon.description }}</p>
            <h3>Características</h3>
            <ul class="list-group">
                <li class="list-group-item">Nombre: {{ pokemon.name }}</li>
                <li class="list-group-item">Tipo: {{ pokemon.types }}</li>
                <li class="list-group-item">Altura: {{ pokemon.height }} cm</li>
                <li class="list-group-item">Peso: {{ pokemon.weight }} kg</li>
                <li class="list-group-item">Habilidad: {{ pokemon.abilities }}</li>
                <li class="list-group-item">Estadística base: {{ pokemon.stats }}</li>
                <li class="list-group-item">Experiencia base: {{ pokemon.base_experience }}</li>
                <li class="list-group-item">
    {% if pokemon.image %}
        <img src="{{ pokemon.image.url }}" alt="{{ pokemon.name }}" style="max-width: 200px;">
    {% else %}
        No hay imagen disponible
    {% endif %}
</li>
         </ul>
{% endblock content %}