{% extends "base.html" %}
{% block title %}{% if form.instance.pk %}Editar{% else %}Añadir{% endif %} Pokémon{% endblock title %}

{% block content %}
  <div class="card p-4 mt-4">
    <h2 class="mb-3">{% if form.instance.pk %}Editar{% else %}Añadir{% endif %} Pokémon</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success mt-3"><i class="fas fa-save"></i> Guardar</button>
        <a href="{% url 'pokedex:index' %}" class="btn btn-secondary mt-3">Cancelar</a>
    </form>
  </div>
{% endblock content %}